footer.main-footer
  .wrap
    .main-footer__menu.menu
      .main-footer__logo.logo
        a(href="#")
          img(src="./img/logo-footer.svg")
      nav.main-footer__nav
        ul.main-footer__list
          li.main-footer__item
            a(href = "#") О нас
          li.main-footer__item
            a(href = "#") Помощь
          li.main-footer__item
            a(href = "#") Репетиторам
      .main-footer__app
        p.main-footer__text Скачайте приложение и получите приветственный бонус!
        .main-footer__container-links
          a.main-footer__link(href = "#")
            img(src="./img/app.svg")
          a.main-footer__link(href = "#")
            img(src="./img/google-play.svg")
      .main-footer__social
        ul.social__list.social
          li.social__item
            a.social__link.social__link--tw(href = "#" aria-label="Twitter")
          li.social__item
            a.social__link.social__link--vk(href = "#" aria-label="Vkontakte")
          li.social__item
            a.social__link.social__link--inst(href = "#" aria-label="Instagram")




