header.main-header
  .wrap
    .main-header__menu.menu
      .main-header__logo.logo
         a(href="#")
            img(src="./img/logo.svg")
      button.main-header__burger.burger.burger--close
      .main-header__container.main-header__container--close
          nav.main-header__nav
            ul.main-header__list
              li.main-header__item.main-header__item--active
                a Календарь
              li.main-header__item
                a(href = "#") Сообщения
              li.main-header__item
                a(href = "#") Собеседники
              li.main-header__item
                a(href = "#") Репетиторы
          .main-header__user.user-info
            .user-info__userpic
              a.user-info__link(href="#")
                img.user-info__img(src="./img/userpic.jpg")
            .user-info__container
              .user-info__name Екатерина М.
              .user-info__container-links
                a.user-info__link(href="#") 52
                a.user-info__link(href="#") 2394 $



