// Mobile first
$mediaWidthMobile: 320px;
$mediaWidthTablet: 768px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthLaptop: 1200px;
 //color
$mainTeam: #103D97;
$cancel: #FF3B30;
$bgFooter:#F6F6F6;
$mark:#F9F8FC;
$disabledText:#8E8E93;
$infoUser: #ECF0F7;

//size
$mainSize:1rem;
$smallSize:0.8667rem;
$xsmalSize:0.8rem;
$LSize:2.3333rem;
$XLSize:3.3333rem;
